.form-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.white{
    color: white;
}
.bg-purple{
    background-color: #8700B4;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    border-radius: 25px 25px;
    border: 0;
}
.bg-purple:hover{
    background-color: #F7ABEB;
}
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
#request::placeholder{
    color : gray;
    opacity: 1; /* Firefox */
}  